/* ============================================
   MAIN.CSS - Reset & Base Styles
   ============================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../assets/background-pokemon.png');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #87CEEB;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5vh;
}



